*{
    margin:0;
    padding:0;
    font-family: 'Droid Sans Mono';
    background-color:#000;
    color:#efefef;
}

#output{
    position: relative;
    width: 98%;
    height: 400px;
    overflow: auto;
}

#command{
    background-color: #000;
    color: #efefef;
    width: 97%;
    margin-top: 16px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #000;
}

#command-write{
    position:relative;
}

.featured {
    color: darkgreen;
}
